<app-navbar [items]="items" (openEventEmitter)="openCart()" ></app-navbar>


<div class="container my-4">

<h2>Catalogo de productos</h2>

<div class="row">
        <div [className]="showCart ? 'col-9' : 'col'  " >
            <app-catalog [products]="products" (productEventEmitter)="onAddCart($event)" ></app-catalog>

        </div>

        @if ( showCart ) {
            
            <div class="col-3">
            
                        @if (items.length >0) {
                            <app-cart [items]="items"
                            (idProductEventEmitter)="onDeleteCart($event)" 
                            [total] = 'total'
                            ></app-cart>
                        }@else {
                            <div class="alert alert-warning" >No hay elementos en el carros</div>
                        }
            </div>

        }
        
    </div>
</div>